body {
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.fine-print {
    color: #b4b4b4;
    font-size: 12px;
}

.menu-item {
    font-size: 14px;
    color: black;
    vertical-align: 50px;

}

.menu-item:hover {
    text-decoration: underline;
    color: black;
}