body {
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.fine-print {
    color: #b4b4b4;
    font-size: 12px;
}

.menu-item {
    font-size: 14px;
    color: black;
    margin: 0;
    line-height: 30px;
}

.menu-item:hover {
    text-decoration: underline;
    color: black;
}

.menu-group  {
    padding: 10px 0 10px 0; 
}

.menu-group a {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}



.hr-group {
    width: 300px;
    margin-left: -20px;
    margin-top: 0;
    margin-bottom: 0;
}

.menu-icons {
    color: gray;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 0px;
}

.newlink-group {
    line-height: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.group-div {
    padding: 0;
    margin: 0;
}